@import "../../vars.scss";

.menu-bar {
    background: $opal-dark-panel;
    width: 200px;
    height: 100%;
    padding-top: 40px;

    a {
        background-color: black;
    }

    ul {
        margin: 0;
        padding: 0 10px;
        list-style: none;

        a {
            color: $text-highlight;
            font-size: 18px;
            text-decoration: none;
            
            :hover {
                color: white;
                // background-color: green;
            }
            
            li {
                margin-bottom: 40px;
                padding-top: 0.25em;
                padding-left: 5px;
                height: 2em;
                // background-color: blue;
                border-bottom: solid $blue 2px;
            }
        }

    }
}