@import "../../vars.scss";

.rate-card {
    background-color: $main-medium;
    height: 120px;
    border: $panel-border;
    opacity: 1 !important;
    margin: 10px;
    position: relative;

    .flag-image {
        height: 40px;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .arrow-icon {
        font-size: 20px;
        position: absolute;
        bottom: 5px;
        right: 5px;
    }

}