.wrapper-panel {
    background-color: grey;
    width: 80%;
    min-height: 80vh;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.main-content-panel {
    display: flex;
    flex: 1;
}