$main-dark: rgb(28, 33, 53);
$main-medium: rgb(35, 41, 61);

$panel-opacity: 0.92;
$opal-dark-panel: rgba(28, 33, 53, $panel-opacity); // combines #1c2135 with 0.92 opacity

$panel-border: #121212 solid 1px;

$text-simple: rgba(255, 255, 255, 0.67);
$text-highlight: rgba(255, 255, 255, 0.80);

$orange: #fa8528;
@function opalOrange($opacity) {
    @return rgba(250, 133, 40, $opacity);
}

$green: #439b5f;
@function opalGreen($opacity) {
    @return rgba(67, 155, 95, $opacity);
}

$red: #d73739;
@function opalRed($opacity) {
    @return rgba(215, 55, 57, $opacity);
}

$blue: #27aabc;
$errorRed: #ff2828;