<p-dropdown 
    placeholder="Select a currency"
    [options]="currencies" 
    [(ngModel)]="currencyOne" 
    (onChange)="onCurrencyChange($event, 1)">
    <ng-template pTemplate="selectedItem">
        <div class="currency-item currency-item-value" *ngIf="currencyOne">
            <img [src]="'assets/images/currencies/' + currencyOne.toLowerCase() + '.png'" />
            <div>{{currencyOne}}</div>
        </div>
    </ng-template>
    <ng-template let-currency pTemplate="item">
        <div class="currency-item">
            <img [src]="'assets/images/currencies/' + currency.toLowerCase() + '.png'" />
            <div>{{currency}}</div>
        </div>
    </ng-template>
</p-dropdown>
<p-dropdown
    placeholder="Select a currency"
    [options]="currencies" 
    [(ngModel)]="currencyTwo" 
    (onChange)="onCurrencyChange($event, 2)">
    <ng-template pTemplate="selectedItem">
        <div class="currency-item currency-item-value" *ngIf="currencyTwo">
            <img [src]="'assets/images/currencies/' + currencyTwo.toLowerCase() + '.png'" />
            <div>{{currencyTwo}}</div>
        </div>
    </ng-template>
    <ng-template let-currency pTemplate="item">
        <div class="currency-item">
            <img [src]="'assets/images/currencies/' + currency.toLowerCase() + '.png'" />
            <div>{{currency}}</div>
        </div>
    </ng-template>
</p-dropdown>