<div class="selector-container">
    <div class="selector-col">
        <app-currency-dropdown [(currency)]="currencyOne" (onChange)="validateSelection(1)"></app-currency-dropdown>
    </div>
    <div class="selector-col">
        <app-currency-dropdown [(currency)]="currencyTwo" (onChange)="validateSelection(2)"></app-currency-dropdown>
    </div>
    <div class="selector-col">
        <p-dropdown placeholder="Select a timeframe"
            [options]="timeFrames" 
            optionLabel="label"
            [(ngModel)]="timeFrame"
            (onChange)="onTimeFrameChange()">
        </p-dropdown>
    </div>
</div>
<div class="chart-container">
    <app-rate-chart></app-rate-chart>
</div>